Source: screengen
Section: video
Priority: extra
Maintainer: Дмитрий Яковлев <sema19689@gmail.com>
Build-Depends: libavcodec54, libavformat54, libavutil51, libc6 (>= 2.3.6-6~), libgcc1 (>= 1:4.1.1), libqtcore4 (>= 4:4.7.0~beta1), libqtgui4 (>= 4:4.8.0), libstdc++6 (>= 4.1.1), libswscale2
Standards-Version: 3.9.3
Homepage: http://www.kochkin.org/doku.php/screengen/start
#Vcs-Git: git://git.debian.org/collab-maint/screengen.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/screengen.git;a=summary

Package: screengen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Консольный генератор скринлистов
 Создаёт скринлист из видео файла, используя ffmpeg-libs
