Package: screengen
Version: 1.6-1
Architecture: i386
Maintainer: Дмитрий Яковлев <sema19689@gmail.com>
Installed-Size: 151
Depends: libavcodec54, libavformat54, libavutil51, libc6 (>= 2.3.6-6~), libgcc1 (>= 1:4.1.1), libqtcore4 (>= 4:4.7.0~beta1), libqtgui4 (>= 4:4.8.0), libstdc++6 (>= 4.1.1), libswscale2
Section: video
Priority: extra
Homepage: http://www.kochkin.org/doku.php/screengen/start
Description: Консольный генератор скринлистов
 Создаёт скринлист из видео файла, используя ffmpeg-libs
